<ul class='main__list'>
	<li class='main__item'>
		<a class='main__link' href='https://{{this.link}}' target='_blank' rel='noopener noreferrer nofollow'>
			<img class='main__svg' src='{{this.svg}}' width='{{this.width}}' height='{{this.height}}' alt='{{this.name}} logo' />
			{{this.name}}
		</a>
	</li>
</ul>