<ul class='main__list'>
	{{#each refs}}
		<li class='main__item'>
			<a class='main__link' href='https://{{this.link}}'>
				<svg class='main__svg' width='{{this.width}}' height='{{this.height}}'>
					<use href='{{this.svg}}'></use>
				</svg>
				{{this.name}}
			</a>
		</li>
	{{/each}}
</ul>
